body {
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 700;
  margin-bottom: 5rem;
}

.heading-main {
  font-size: 4rem;
}

.heading-secondary {
  font-size: 2rem;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-family: inherit;
  background-color: #55c57a;
  color: #fff;
  border: none;
  cursor: pointer;

  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-self: center;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1);
}

/* .btn-solid {
  display: flex;
  justify-content: center;
  align-self: center;
} */
