body {
  font-family: cursive;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;

  margin: 0 10rem;
}

.heading {
  font-weight: 700;
  margin-bottom: 5rem;

  text-align: center;
}

.heading-main {
  font-size: 4rem;
}

.heading-secondary {
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  color: #fff;

  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1);
}

.btn-solid {
  background-color: #55c57a;
}

.btn-hex {
  background-color: #45caff;
}

.btn-reset {
  background-color: #243748;
}

.hidden {
  opacity: 0;
}
